<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Emission Predictor</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h2>CO2 Emission Prediction</h2>
        <form action="/predict" method="post">
            <label for="Engine_Size">Engine Size:</label>
            <input type="number" step="any" name="Engine_Size" required><br>

            <label for="Cylinders">Cylinders:</label>
            <input type="number" name="Cylinders" required><br>

            <label for="Fuel_Consumption_in_City(L/100 km)">Fuel Consumption City (L/100 km):</label>
            <input type="number" step="any" name="Fuel_Consumption_in_City(L/100 km)" required><br>

            <label for="Fuel_Consumption_in_City_Hwy(L/100 km)">Fuel Consumption Hwy (L/100 km):</label>
            <input type="number" step="any" name="Fuel_Consumption_in_City_Hwy(L/100 km)" required><br>

            <label for="Fuel_Consumption_comb(L/100km)">Fuel Consumption Comb (L/100 km):</label>
            <input type="number" step="any" name="Fuel_Consumption_comb(L/100km)" required><br>

            <label for="Smog_Level">Smog Level:</label>
            <input type="number" step="any" name="Smog_Level" required><br>

            <label for="Make">Make:</label>
            <input type="text" name="Make" required><br>

            <label for="Model">Model:</label>
            <input type="text" name="Model" required><br>

            <label for="Vehicle_Class">Vehicle Class:</label>
            <input type="text" name="Vehicle_Class" required><br>

            <label for="Transmission">Transmission:</label>
            <input type="text" name="Transmission" required><br>

            <button type="submit">Predict</button>
        </form>
        <h2>{{ prediction_text }}</h2>
    </div>
</body>
</html>

